name: dm-bip QC

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # python-version: ["3.12", "3.13" ]
        python-version: ["3.11", "3.12" ] # Removing 3.13 for now due to dependency issues

    steps:
      - uses: actions/checkout@v3.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies
        run: make install CI=1

      - name: Check common spelling errors
        run: uv run tox -e codespell

      - name: Check code quality with ruff
        run: make lint

      - name: Test with pytest and generate coverage file
        run: make test
